@import 'tailwindcss';

:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #1b1b1f;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: #3c3c43;
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: #dfdfd6;
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

@theme {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);
    --color-backdrop: rgba(0, 0, 0, 0.5);
    --color-backdrop-light: rgba(0, 0, 0, 0.1);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);
    --color-text-dark: var(--vt-c-text-dark-1) --section-gap: 160px;

    --color-dark-background: var(--vt-c-black);
    --color-dark-background-soft: var(--vt-c-black-soft);
    --color-dark-background-mute: var(--vt-c-black-mute);
    --color-dark-border: var(--vt-c-divider-dark-2);
    --color-dark-border-hover: var(--vt-c-divider-dark-1);
    --color-dark-heading: var(--vt-c-text-dark-1) --color-dark-text: var(--vt-c-text-dark-2);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
